.logoImage{
    width: 100px;
}

.title {
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
    width: 100%;
    max-width: 200px;
}

.subtext {
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
    text-transform: uppercase;
}
.hr {
    width: 100%;
    border: 1px solid #fff;
    margin: 10px 0;
    max-width: 215px;
}
.cardLayout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productImage {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}